.shows {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @media (max-width: 991.98px) {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 25rem;

  @media (max-width: 991.98px) {
    min-width: auto;
  }
}
