/* https://weekendprojects.dev/posts/which-responsive-media-query-breakpoints-should-you-use/ */

#root {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 2rem auto;

  @media (max-width: 991.98px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

input {
  width: fit-content;
  border: 1px solid #b4b4b4;
  font-family: inherit;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

b,
strong {
  font-weight: 600;
}
